* {
    box-sizing: border-box;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 300px;
    position: relative;
    top: 100px;
    padding-top: 20px;
}

a:link {
    color: black;
    display: block;
    margin-left: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
}

a:visited {
    color: green;
    display: block;
    alignment: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    display: block;
    alignment: center;
}

.tabcontent {
    padding: 0 12px;
    height: 300px;
    position: relative;
    top: 20px;
    text-align: left;
    margin: auto;
    width: 60%;
    font-size: 20px;
}

.tabcontent:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    float: left;
    width: 50%;
    height: 78%;
    padding-left: 20px;
}

.text {
    padding: 10px;
}