.empty-message {
    font: 25px Serif;
    color: darkgreen;
}

.product-display-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 20%;
    color:black;
    cursor: pointer;
    margin-bottom: 30px;
}

.product-display-image {
    width: 200px;
    height: 150px;
    margin: 5px;
}

.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkgreen;
    width: 80%;
}

.product-display:hover {
    background-color: #e7e7e7;
}