.products-form {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.product-columns {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 30px;
    width: 50%;
}

.product-inputs {
    display: flex;
    flex-direction: column;
}

.details {
    float: right;
    font-family: serif;
    font-size: 20px;
    border: solid 1px green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 280px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}

.details-ta {
    float: right;
    font-family: serif;
    font-size: 20px;
    border: solid 1px green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 280px;
    height: 100px;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    resize: none;
}

.details-names {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 20px;
    width: 300px;
}

.description {
    font-size: 20px;
    width: 300px;
    margin-bottom: 80px;
    margin-top: 8px;
}

.enable-feature {
    -webkit-appearance: none;
    border: 1px solid darkgreen;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
}

.enable-feature:checked:after {
    content: "\25CF";
    font-size: 25px;
    color: green;
    position: relative;
    bottom: 3px;
    left: 3px;
}

.image {
    opacity: 0.2;
    height: 250px;
    width: 250px;
    margin-left: 100px;
    margin-bottom: 30px;
    border: none;
}

.upload-btn {
    font: 18px Serif;
    color: black;
    width: 150px;
    height: 35px;
    margin: 30px 135px 20px 10px;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgb(236, 236, 236) 20%, rgb(251, 252, 252) 80%);
}

.upload-btn:active {
    border: 1px solid #b8b8b8;
}

.cancel-btn {
    font: 18px Serif;
    color: black;
    width: 150px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    margin: 35px 135px 20px 10px;
    text-decoration: none;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgb(236, 236, 236) 20%, rgb(251, 252, 252) 80%);
}

.cancel-btn:active {
    border: 1px solid #b8b8b8;
}

.custom-file-input {
    font: 18px Serif;
    color: black;
}

.message {
    font: 25px Serif;
    color: #e37900;
}

.product-image {
    height: 300px;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 30px;
    border: none;
}