.products {
    display: flex;
}

.products-content {
    flex-grow: 2;
    border: solid 2px darkgreen;
    margin-top: 100px;
    margin-left: 10px;
    padding: 10px;
}

.products-header {
    margin-bottom: 50px;
}

.products-btn {
    font: 18px Serif;
    margin-right: 5px;
    color: black;
}

.button-link {
    font: 18px Serif;
    text-decoration: none;
    color: black;
}

table {
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
}

th {
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}

.products-table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paginator {
    display: inline-block;
    margin-top: 20px;
    height: 40px;
    list-style-type: none;
}

li {
    float: left;
}

.pagination {
    display: block;
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 3px;
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.pagination:active {
    background-color: green;
    font-size: 20px;
    color: white;
}

.pagination:hover {
    background-color: #22B14C;
    font-size: 20px;
    text-decoration: none;
}

.edit {
    border: 1px solid #555555;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

.delete {
    background: url("../../img/icons8-delete-bin-30.png") no-repeat center;
    color: transparent;
    border: 1px solid #555555;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

.sortable::after {
    content: "\25BE";
    color: black;
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}

.sortable-clk::after {
    content: "\25B4";
    color: black;
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}

.product-row {
    display: flex;
    flex-direction: row;
}

.message-success {
    font: 25px Serif;
    color: green;
    margin-bottom: 5px;
    transition: .5s ease-out;
    animation: message-success 0.5s 1;
    -webkit-animation: message-success 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes message-success {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.1;
        -webkit-transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
}

.message-fail {
    font: 25px Serif;
    color: darkorange;
    margin-bottom: 5px;
    transition: .5s ease-out;
    animation: message-success 0.5s 1;
    -webkit-animation: message-success 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}